{% block javascripts %}
<script src="{{ asset('js/hideFilterForm.js') }}"></script>
{% endblock %}
{% block body %}
    <div style="align-items:center" id="filterFields" class="mt-3 d-flex flex-row position-fixed">
      <i id="filter-arrow" onclick="arrowSwitchRight()" class="fas fa-chevron-right mr-3"></i>
      <i id="filter-arrow-left" onclick="arrowSwitchLeft()" class="fas fa-chevron-left mr-3"></i>
      <div id="filter">
        <h1 id="filterText">{{ 'Filters'|trans }}</h1>
        {{ form_start(filterForm,
            {'attr':
                {'class':'form-horizontal form-control p-3 ', 'id': 'filterForm'
                }}) }}
        <p class="font-weight-bold label-form">{{ form_label(filterForm.consumption) }}</p>
        {{ form_widget(filterForm.consumption,{'attr': {'class': 'form-control mb-3'}}) }}
        <p class="font-weight-bold label-form">{{ form_label(filterForm.transmission) }}</p>
        {{ form_widget(filterForm.transmission,
            {'attr':
                {'class': 'form-control mb-3'
                }}) }}
        <p class="font-weight-bold label-form">{{ form_label(filterForm.power) }}</p>
        {{ form_widget(filterForm.power,{'attr': {'class': 'form-control mb-3'}}) }}
        <p class="font-weight-bold label-form">{{ form_label(filterForm.age) }}</p>
        {{ form_widget(filterForm.age,{'attr': {'class': 'form-control mb-3'}}) }}
        <p class="font-weight-bold label-form">{{ form_label(filterForm.tuning) }}</p>
        {{ form_widget(filterForm.tuning,{'attr': {'class': 'form-control mb-3'}}) }}
        {{ form_end(filterForm) }}

      </div>
    </div>
{% endblock %}
