{% extends 'base.html.twig' %}
{% block title %}
    {% if edit is same as (true) %}
        {{ 'Edit user'|trans }}
    {% else %}
        {{ 'Registration'|trans }}
    {% endif %}
{% endblock %}
{% block body %}
    <div class="mt-5 container col-3">

        <div class="form">
          {% if edit is same as (true) %}
              <h1>
                  {{ 'Edit user'|trans }}
              </h1>
          {% else %}
              <h1>
                  {{ 'Create new account'|trans }}
              </h1>
          {% endif %}
          {% set formErrors = registrationForm.vars.errors.form.getErrors(true) %}
          {% if formErrors | length %}
              <ul class="alert-danger mt-3 py-2">
                  {% for error in formErrors %}
                      <li>
                          {{ error.message|trans }}

                  {% endfor %}
              </ul>
          {% endif %}
            {{ form_start(registrationForm, {'attr': {'class': 'form-horizontal'}}) }}
            <br>
            <p class="font-weight-bold label-form">
                {{ form_label(registrationForm.firstName) }}
                <i class="fas fa-asterisk"></i>
            </p>
            {{ form_widget(registrationForm.firstName,
                {'attr':
                    {'class': 'form-control'}}
            ) }}
            <br>
            <p class="font-weight-bold label-form">
                {{ form_label(registrationForm.lastName) }}
                <i class="fas fa-asterisk"></i>
            </p>
            {{ form_widget(registrationForm.lastName,
                {'attr':
                    {'class': 'form-control'}
                }) }}
            <br>
            <p class="font-weight-bold label-form">
                {{ form_label(registrationForm.email) }}
                <i class="fas fa-asterisk"></i>
            </p>
            {{ form_widget(registrationForm.email,
                {'attr':
                    {'class': 'form-control'}
                }) }}
            <br>
            <p class="font-weight-bold label-form">{{ form_label(registrationForm.preferLanguage) }}</p>
            {{ form_widget(registrationForm.preferLanguage,
                {'attr':
                    {'class': 'form-control pointer'}
                }) }}
            <br>
            <p class="font-weight-bold label-form">
                {{ form_label(registrationForm.plainPassword.first) }}
                <i class="fas fa-asterisk "></i>
            </p>

            {{ form_widget(registrationForm.plainPassword.first,
                {'attr':
                    {'class': 'form-control'}
                }) }}
            <br>
            <p class="font-weight-bold label-form">
                {{ form_label(registrationForm.plainPassword.second) }}
                <i class="fas fa-asterisk"></i>
            </p>
            {{ form_widget(registrationForm.plainPassword.second,
                {'attr':
                    {'class': 'form-control'}
                }) }}
            <br>
            {% if edit is same as (true) %}
                <button class="btn  btn-success" type="submit">
                    {{ 'Edit'|trans }}
                </button>
            {% else %}
                <div class="row justify-content-between mx-1 mt-3">
                    <button class="btn btn-info" onclick="window.location.href='/login'">
                        {{ 'Back to sign in'|trans }}
                    </button>

                    <button class="btn btn-success" type="submit">
                        {{ 'Sign up'|trans }}
                    </button>
                </div>
                {{ form_end(registrationForm) }}

            {% endif %}
        </div>
    </div>
{% endblock %}
