{% extends 'base.html.twig' %}

{% block title %}{{- 'title.make.list'|trans -}}{% endblock %}

{% block body %}
    <h2 class="mt-5 ml-5 text-secondary">
        {{- 'title.make.list'|trans -}}
        ({{- makes|length -}})
    </h2>
    <div class="list container d-flex flex-wrap col ml-3 justify-content-between pr-5">
        {% if makes %}
            {% for make in makes %}
                {# @var make App\Entity\Car\Make #}
                <div class="row pl-4">
                    <a class="col-4 justify-content-between mr-4 mb-3 link"
                       href="{{ path('yourcar_make_model_list', {make: make.name}) }}">
                        <img class="make-icon"
                             src="{{ asset('images/makes/' ~ make.icon) }}" alt="">
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
