{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Details by engine'|trans }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
{% endblock %}
{% block body %}
    <div class="  container top">
        <div class="col">
            <h2>

                <a class="" href="{{ path('models_list', {'make': make.id}) }}">
                    {{ make.name }}
                </a>
                ->
                <a class="" href="{{ path('model_details',
                    {'make': make.id,'model': model.id}) }}">
                    {{ model.name }}
                </a>
                ->
                ({{ subModel.bodyPlatform }})
            </h2>
            <div class="slider-inner">
                {% for image in subModel.images %}

                    <img src="{{ asset('images/car_details/'~ image.image) }}" alt="">

                {% endfor %}
            </div>
            {% if app.user %}
                <div class="d-flex align-items-start flex-column bd-highlight mb-3">
                    <a href="{{ path('comparing',{ 'id': carDetails[0].id }) }}" id="js-compare"
                       class="text-white mb-auto p-2 bd-highlight">

                        {% if app.user and carDetails[0].isScaledByUser(app.user) %}
                            <i class="fas fa-balance-scale-right "></i>
                        {% else %}
                            <i class="fas fa-balance-scale"></i>
                        {% endif %}
                    </a>

                    <a href="{{ path('add_favourite',{'id': carDetails[0].id }) }}"
                       id="js-favourite" class=" like btn-link ">

                        {% if app.user and carDetails[0].isFavouredByUser(app.user) %}
                            <i class=" fas fa-heart"></i>
                        {% else %}
                            <i class="far fa-heart"></i>
                        {% endif %}
                    </a>
                </div>
            {% else %}
                {{ app.session.set('url',app.request.uri) }}
                <a href="{{ path('app_login') }}">
                    For add to favourite or to comparing you need to login
                </a>
            {% endif %}

            <div class="rating" data-object="{{ carDetails[0].id }}">
                <span class="mr-2">
                    {{ 'Average rating'|trans }}:
                </span>
                {% if result is defined %}
                    {% for i in 1..5 %}
                        <i class="
                {% if i <= result['rating'] %}
                fas
                    {% else %}
                   far
                {% endif %}
                fa-star" data-value="{{ i }}"></i>
                    {% endfor %}
                    <span id="count" class="ml-2">
                        ({{ result['count'] }})
                    </span>
                {% endif %}
                {% if result['userRated'] %}
                    <span class="far fa-check-circle text-success "></span>
                {% endif %}
            </div>
            <h4 class="mt-5">
                {{ 'List of parts which frequently wanted'|trans }}
            </h4>

            {% for part in parts %}
                <div class="row border-bottom">

                    <p>
                        <a href="https://google.com/search?q={{ part.name }} {{ part.catalogNumber }}"
                           target="_blank" rel="noopener noreferrer">
                            {{ part.name }} &nbsp;
                            {{ part.catalogNumber }}
                        </a>
                    </p>

                </div>
            {% endfor %}
            <div class="col">
                <h4 class="mt-5">
                    {{ 'Technical data of engine '|trans }}
                </h4>
                <p>
                    <a href="{{ path('engine_details',{'id': carDetails[0].engine.id}) }}">
                        {{ 'Engine'|trans }}: {{ carDetails[0].engine }}
                        ( <i class="fas fa-exclamation-triangle"></i>
                        {{ carDetails[0].engine.faults|length }})
                    </a>
                </p>
                <p>
                    {{ 'Fuel'|trans }}: {{ carDetails[0].engine.fuel }}
                </p>
                <p>
                    {{ 'Power'|trans }}: {{ carDetails[0].power }} (HP)
                </p>
                <p>
                    {{ 'Torque'|trans }}: {{ carDetails[0].torque }} (Nm)
                </p>
                <p>
                    {{ 'Power increase device'|trans }}: {{ carDetails[0].engine.powerIncrease }}
                </p>
                <p>
                    {{ 'Max. speed'|trans }}: {{ carDetails[0].speed }} (km/h)
                </p>
                <p>
                    {{ 'Start year of installing'|trans }}: {{ carDetails[0].yearStart }}
                </p>
                <p>
                    {{ 'Finish year of installing'|trans }}: {{ carDetails[0].yearFinish }}
                </p>
                <p>
                    {{ 'Ecology standart'|trans }}: {{ carDetails[0].eco }}
                </p>
                <p>
                    {{ 'Transmission'|trans }}: {{ carDetails[0].transmission }}
                </p>
                <p>
                    {{ 'Drive'|trans }}: {{ carDetails[0].drive }}
                </p>
                <p>
                    {{ 'Tank'|trans }}: {{ carDetails[0].subModel.tank }} (l)
                </p>
                <p>
                    {{ 'Fuel consumprion'|trans }}: {{ carDetails[0].fuelConsumption }}
                    (l/100km)
                </p>
                <p>
                    {{ 'Fuel consumprion mixed'|trans }}: {{ carDetails[0].fuelConsumptionMixed }}
                    (l/100km)
                </p>
                <p>
                    {{ 'Fuel consumprion extra'|trans }}: {{ carDetails[0].fuelConsumptionExtra }}
                    (l/100km)
                </p>
            </div>
            <div class="col">
                <h4 class="mt-5">
                    {{ 'Parameters'|trans }}
                </h4>
                <p>
                    {{ 'Start year of production'|trans }}: {{ subModel.yearStart }}
                </p>
                <p>
                    {{ 'Finish year of production'|trans }}: {{ subModel.yearFinish }}
                </p>
                <p>
                    {{ 'Body type '|trans }}: {{ subModel.bodyType }}
                </p>
                <p>
                    {{ 'Length '|trans }}: {{ subModel.length }}
                </p>
                <p>
                    {{ 'Width '|trans }}: {{ subModel.width }}
                </p>
            </div>

            <h4 class="mt-5">
                {{ 'List of transmissions which were installed'|trans }}
            </h4>
            {% if subModel.faults is not empty %}
            <h4 class="mt-5">
                {{ 'List of faults'|trans }}
                {% set faultCount = "" %}
                {% for fault in subModel.faults %}
                {% if fault.published == true %}
                {% set faultCount =+ 1 %}
                {% endif %}
                {% endfor %}
                ({{ faultCount|length }})
                <a id="btnAdd" href="{{ path('fault_add', { 'subModel': subModel.id}) }}">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </h4>
            <div class="">

                {% for fault in subModel.faults %}
                    {% if fault.published == true %}

                    <div class="col">
                        <a href="{{ path('subModel_fault', {'make': make.id, 'model': model.id, 'subModel': subModel.id, 'fault':fault.id}) }}">
                            {{ fault.name }}
                        </a>
                    </div>
                {% endif %}
                {% endfor %}
                {% else %}
                    <h4 class="mt-5">
                        {{ 'List of faults'|trans }} (0)

                    </h4>
                {% endif %}

            </div>
            {% if subModel.rims is not empty %}
            <h4 class="mt-5">
                {{ 'List of rims which were installed'|trans }}
                ({{ subModel.rims|length }})
            </h4>
            <div class="">
                {% for rim in subModel.rims %}
                    <div class="col">
                        {{ rim }}
                    </div>
                {% endfor %}
                {% else %}
                    <h4 class="mt-5">
                        {{ 'List of rims to this model'|trans }} (0)
                    </h4>
                {% endif %}
            </div>
        </div>
    </div>

    {% block javasriptsblock %}
        <script src="{{ asset('js/rating.js') }}"></script>
        <script src="{{ asset('js/clickButton.js') }}"></script>
        {{ include('like_slider_compare.html.twig') }}
    {% endblock %}
{% endblock %}
