{% extends 'base.html.twig' %}
{% block title %}
    {{ 'List of models'|trans }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="container col-5 top">
            {% if models %}
                {% for model in models %}
                    <div class="d-flex flex-column mb-5">
                        <a class="link"
                           href="{{ path('model_details', {'make':make,'model': model.id}) }}">
                            {% if model.icon %}
                                <img style="background-color: white; border-radius: 5px;"
                                     src="{{ asset('images/models/'~model.icon) }}" alt="" width="500px"
                                     height="350px">
                            {% else %}
                                <img style="background-color: white; border-radius: 5px;"
                                     src="{{ asset('images/car_details/default.jpg') }}" alt="" width="500px"
                                     height="350px">
                            {% endif %}
                            <p>
                                {{ model.name }}
                                ({{ 'years'|trans }}:
                                {{ model.yearStart }}
                                {% if model.yearFinish %}
                                    - {{ model.yearFinish }})
                                {% else %}
                                    - {{ 'till now'|trans }})

                                {% endif %}
                            </p>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
