{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Search results'|trans }}
{% endblock %}
{% block body %}
    {% for car in cars %}
        <div class=" border col-3 mb-5 " id="{{ loop.index }}" name="{{ car.id }}">
            <a style="text-decoration: none" href="{{ path('details_by_engine',
                {
                    'engine': car.engine.id,
                    'make': car.subModel.model.make.id,
                    'model': car.subModel.model.id,
                    'subModel': car.subModel.id
                }
            ) }}" class="row">

                <img src="
            {{ asset('images/car_details/'~ car.subModel.images|first) }}"
                     width="460" height="300" alt="" style="overflow: hidden">
                <h4 class="ml-4 mt-3 ">
                    {{ car.subModel.model.make }}
                    {{ car.subModel.model }}
                    ({{ car.subModel.bodyPlatform }})
                </h4>
            </a>
            <div class="d-flex  flex-row justify-content-between mr-5 ml-2">
                <a href="{{ path('comparing',{ 'id': car.id }) }}"  id="js-compare"
                   class="text-white mb-auto p-2 bd-highlight">
                    {% if app.user and car.isScaledByUser(app.user) %}
                        <i class="fas fa-balance-scale-right "></i>
                    {% else %}
                        <i class="fas fa-balance-scale"></i>
                    {% endif %}
                </a>

                <a href="{{ path('add_favourite',{'id':car.id }) }}"
                   id="js-favourite" class=" like btn-link ">
                    {% if app.user and car.isFavouredByUser(app.user) %}
                        <i class=" fas fa-heart h3"></i>
                    {% else %}
                        <i class="far fa-heart h3"></i>
                    {% endif %}
                </a>
            </div>
        </div>
    {% endfor %}
    {% block javasriptsblock %}
        {{ include('like_slider_compare.html.twig') }}
        <script src="{{ asset('js/filter1.js') }}"></script>
    {% endblock %}


{% endblock %}