{% extends 'base.html.twig' %}
{% block title %}
    {{ 'SubModel details'|trans }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
{% endblock %}
{% block body %}
    <div class="container top">
        <div class="col">
            <div class="slider-inner">
                {% if engine.images is not empty %}
                {% for image in engine.images %}

                    <img src="{{ asset('images/car_details/'~ image.image) }}" alt="">

                {% endfor %}
                {% else %}
                    <img src="{{ asset('images/car_details/default.jpg') }}" alt="">
                {% endif %}
            </div>
            <div class="rating" data-object="{{ engine.id }}" data-engine="true">
                <span class="mr-2">
                    {{ 'Average rating'|trans }}:
                </span>
                {% if result is defined %}
                    {% for i in 1..5 %}
                        <i class="
                {% if i <= result['rating'] %}
                fas
                    {% else %}
                   far
                {% endif %}
                fa-star" data-value="{{ i }}"></i>
                    {% endfor %}
                <span class="mr-2">

                    ({{ result['count'] }})
                </span>
                {% endif %}
                {% if result['userRated'] %}
                    <a class="far fa-check-circle text-success"></a>
                {% endif %}
            </div>
            <h4 class="mt-5">
                {{ 'List of cars which it was installed'|trans }}
            </h4>
            {% for subModel in engine.subModels %}
                <div class="col">
                    <a href="{{ path('sub_model_details',{
                        'make': subModel.model.make.id,
                        'model':subModel.model.id,
                        'subModel':subModel.id
                    }) }}">
                        {{ subModel }}
                    </a>
                </div>
            {% endfor %}
            <h4 class="mt-5">
                {{ 'List of parts which frequently wanted'|trans }}
            </h4>

            {% for part in parts %}
                <div class="row border-bottom">
                    <p>
                        <a href="https://google.com/search?q={{ part.name }} {{ part.catalogNumber }}"
                           target="_blank" rel="noopener noreferrer">
                            {{ part.name }} &nbsp;
                            {{ part.catalogNumber }}
                        </a>
                    </p>

                </div>
            {% endfor %}
            <h4 class="mt-5">
                {{ 'List of faults which were detected'|trans }}
                <a  id="btnAdd" href="{{ path('fault_add', { 'engine': engine.id}) }}">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </h4>
            {% for fault in engine.faults %}
                <div class="col">
                    <a href="{{ path('engine_fault',{ 'fault': fault.id}) }}">
                    {{ fault.name }}
                    </a>
                </div>
            {% endfor %}
            <div class="comments mt-5">
                <h3 id="commentsCount">
                    Comments ({{ engine.comments|length }})
                </h3>
                {% include 'comment/form.html.twig' %}
                <div class="comment pt-5 mb-5" id="commentFields">
                    {% for comment in engine.comments|reverse %}
                        <p>
                            <b>
                                {{ comment.user.firstName }}
                                {{ comment.user.lastName }}
                            </b>
                            <small class="text-secondary ml-4">
                                {{ comment.createdAt|date }}
                            </small>
                            <br>
                            {{ comment.content }}
                        </p>

                    {% endfor %}
                </div>
            </div>
        </div>
        {% block javasriptsblock %}
            <script src="{{ asset('js/rating.js') }}"></script>
            <script src="{{ asset('js/clickButton.js') }}"></script>
            <script src="{{ asset('js/comment.js') }}"></script>
            {{ include('like_slider_compare.html.twig') }}
        {% endblock %}
    </div>

{% endblock %}
