{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>
	<script src="{{ asset('js/countries.js') }}"></script>
{% endblock %}
{% block body %}
	<title>
		{% block title %}
			{{ 'Search form'|trans }}
		{% endblock %}
	</title>

	<div class="container mt-3 mb-5 col-4 col-md-4 col-sm-4">
		<h1>{{ 'Search by our form'|trans }}</h1>
		{{ form_start(searchByForm,
            {'attr':
                {'class':' form-control p-3'}
            }) }}

			<div class="p-3">
				{# <h5 style="margin-bottom: -8px; ">{{ form_label(searchByForm.transmission) }}</h5> #}
				{# {{ form_widget(searchByForm.transmission,{'attr': {'class': 'form-control mb-3'}}) }} #}
				<p class="font-weight-bold label-form">
					{{ form_label(searchByForm.purpose) }}
					<i class="fas fa-asterisk"></i>
				</p>
				{{ form_widget(searchByForm.purpose,
                    {'attr':
                        {'class': 'form-control mb-3 pointer'
                        }}) }}
				<p class="font-weight-bold label-form">{{ form_label(searchByForm.country) }}</p>
				{{ form_widget(searchByForm.country ,
                    {'attr':
                        {'class': 'form-control  mb-3 pointer'
                        }}) }}
				<p class="font-weight-bold label-form">{{ form_label(searchByForm.fuelConsumption) }}</p>
				{{ form_widget(searchByForm.fuelConsumption,
                    {'attr':
                        {'class': 'form-control mb-3 pointer'
                        }}) }}
				<p class="font-weight-bold label-form">{{ form_label(searchByForm.size) }}</p>
				{{ form_widget(searchByForm.size,
                    {'attr':
                        {'class': 'form-control mb-3 pointer'
                        }}) }}
				<p class="font-weight-bold label-form">{{ form_label(searchByForm.engineLife) }}</p>
				{{ form_widget(searchByForm.engineLife,
                    {'attr': {'class': 'form-control mb-3 pointer'
                    }}) }}
			</div>
			<div class="mr-3 ml-3">
				<h4 class="font-weight-bold label-form mb-1">{{'Execude parametr'|trans}}</h4>
				<div class="border rounded p-3 border-danger ">
					<p class="font-weight-bold label-form">{{ form_label(searchByForm.exclCountry) }}</p>
					{{ form_widget(searchByForm.exclCountry,
                {'attr': {'class': 'form-control pointer'
                }}) }}
					<p class="font-weight-bold label-form">{{ form_label(searchByForm.exclMake) }}</p>

					{{ form_widget(searchByForm.exclMake,
                        {'attr':
                            {'class': 'form-control pointer'
                            }}) }}
				</div>
			</div>
		{{ form_widget(searchByForm.save,
			{'attr':
				{'class': 'd-flex mt-4 btn btn-success ml-3'
				}}) }}
	</div>
	{# <input type="button" value="{{  results.length }}"> #}
	{{ form_end(searchByForm) }}

{% endblock %}
