{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Comparing list'|trans }}
{% endblock %}

{% block body %}
    {% if cars %}
        {{ include('comparing/filter_form.html.twig') }}
        <div id="container">
            <div class="row ml-3 mt-3 ">
                <div class="mr-2" id="listParam">
                    <h5 style="background-color: #10be7a;" class="p-3">
                        {{ 'Technical data of engine '|trans }}
                    </h5>
                    <p class="mt-3 border-bottom pl-2">
                        {{ 'Engine'|trans }}
                    </p>
                    <p class="border-bottom pl-2">
                        {{ 'Fuel'|trans }}
                    </p>
                    <p class="border-bottom pl-2">
                        {{ 'Power'|trans }} (HP)
                    </p>
                    <p class="border-bottom pl-2">
                        {{ 'Torque'|trans }} (Nm)
                    </p>
                    <p class="border-bottom pl-2">
                        {{ 'Ecology standart'|trans }}
                    </p>
                    <p class="border-bottom pl-2">
                        {{ 'Transmission'|trans }}
                    </p>
                    <p class="border-bottom pl-2">
                        {{ 'Drive'|trans }}
                    </p>
                    <p class="border-bottom pl-2">
                        {{ 'Fuel consumprion'|trans }} (l/100km)
                    </p>
                    <p class="border-bottom pl-2">
                        {{ 'Fuel consumprion mixed'|trans }} (l/100km)
                    </p>
                    <p class="border-bottom pl-2">
                        {{ 'Fuel consumprion extra'|trans }} (l/100km)
                    </p>
                    <div class="hideContent content">
                        <p class="border-bottom pl-2">
                            {{ 'Tuning'|trans }}
                        </p>
                        <p class="border-bottom pl-2">
                            {{ 'Power increase device'|trans }}
                        </p>
                        <p class="border-bottom pl-2">
                            {{ 'Max. speed'|trans }} (km/h)
                        </p>
                        <p class="border-bottom pl-3">
                            {{ 'Start year of installing'|trans }}
                        </p>
                        <p class="border-bottom pl-2">
                            {{ 'Finish year of installing'|trans }}
                        </p>

                        <p class="border-bottom pl-2">
                            {{ 'Tank'|trans }} (l)
                        </p>

                        <h5 class="mt-1 px-3 bg-info">
                            {{ 'Parameters'|trans }}
                        </h5>
                        <div>
                            <p class="border-bottom pl-2">
                                {{ 'Start year of production'|trans }}
                            </p>
                            <p class="border-bottom pl-2">
                                {{ 'Finish year of production'|trans }}
                            </p>
                        </div>
                        <p class="border-bottom pl-2">
                            {{ 'Body type '|trans }}
                        </p>
                        <p class="border-bottom pl-2">
                            {{ 'Length '|trans }}
                        </p>
                        <p class="border-bottom pl-2">
                            {{ 'Width '|trans }}
                        </p>
                    </div>
                </div>
                {% set list = [] %}
                {% for car in cars %}

                    {% set list = list|merge([car.carDetails.id]) %}

                    <div class="border d-flex flex-column mb-5 " style="overflow: hidden" id="{{ loop.index }}" name="{{ car.carDetails.id }}">
                        <a style="text-decoration: none; color: #10be7a" href="{{ path('details_by_engine',
                            {
                                'engine': car.carDetails.engine.id,
                                'make': car.carDetails.subModel.model.make.id,
                                'model': car.carDetails.subModel.model.id,
                                'subModel': car.carDetails.subModel.id
                            }
                        ) }}" >

                            <img style=""
                                 src="{{ asset('images/car_details/'~ car.carDetails.subModel.images|first) }}"
                                 height="300" width="300px;" alt="" >
                            <h5 style="height: 60px; width: 250px; " class="ml-4 mt-3 ">
                                {{ car.carDetails.subModel.model.make }}
                                {{ car.carDetails.subModel.model }}
                                ({{ car.carDetails.subModel.bodyPlatform }})
                            </h5>
                        </a>
                        <div class="d-flex flex-row justify-content-between ml-2 mr-3 align-items-center">
                            <a href="{{ path('comparing',{ 'id': car.carDetails.id }) }}" id="js-compare"
                               class="mb-auto p-2 bd-highlight" data-car="{{ loop.index }}">
                                {% if app.user and car.carDetails.isScaledByUser(app.user) %}
                                    <i class="fas fa-balance-scale-right h5 scale scale-color"></i>
                                {% else %}
                                    <i class="fas fa-balance-scale h5 scale scale-color"></i>
                                {% endif %}
                            </a>

                            <a href="{{ path('add_favourite',{'id':car.carDetails.id }) }}"
                               id="js-favourite" class=" like btn-link ">
                                {% if app.user and car.carDetails.isFavouredByUser(app.user) %}
                                    <i class=" fas fa-heart h5 heart heart-color"></i>
                                {% else %}
                                    <i class="far fa-heart h5 heart heart-color"></i>
                                {% endif %}
                            </a>
                        </div>
                        <div>
                            <p class="mt-3 border-bottom ml-2">
                                {{ car.carDetails.engine }}
                            </p>
                            <p class=" border-bottom ml-2">
                                {{ car.carDetails.engine.fuel|trans }}
                            </p>
                            <p name="power" class=" border-bottom ml-2">
                                {{ car.carDetails.power }}
                            </p>
                            <p class="border-bottom ml-2">
                                {{ car.carDetails.torque }}
                            </p>
                            <p class="border-bottom ml-2">
                                {{ car.carDetails.eco }}
                            </p>
                            <p class="border-bottom ml-2 ">
                                {{ car.carDetails.transmission }}
                            </p>
                            <p class="border-bottom ml-2">
                                {{ car.carDetails.drive }}
                            </p>
                            <p class="border-bottom ml-2" name="fuelConsumption">
                                {{ car.carDetails.fuelConsumption }}

                            </p>
                            <p class="border-bottom ml-2">
                                {{ car.carDetails.fuelConsumptionMixed }}
                            </p>
                            <p class="border-bottom ml-2">
                                {{ car.carDetails.fuelConsumptionExtra }}
                            </p>
                        </div>

                        <div class="hideContent content ml-2">
                            <p name="tuning" class="border-bottom">
                                {{ car.carDetails.tuning }}
                            </p>
                            <p class="border-bottom">
                                {{ car.carDetails.engine.powerIncrease }}
                            </p>
                            <p class="border-bottom">
                                {{ car.carDetails.speed }}
                            </p>
                            <p class="border-bottom">
                                {{ car.carDetails.yearStart }}
                            </p>
                            <p class="border-bottom">
                                {{ car.carDetails.yearFinish }}
                            </p>

                            <p class="border-bottom">
                                {{ car.carDetails.subModel.tank }}
                            </p>

                            <div name="age" class="mt-5">
                                <p class="border-bottom">
                                    {{ car.carDetails.subModel.yearStart }}
                                </p>
                                <p class="border-bottom">
                                    {{ car.carDetails.subModel.yearFinish }}
                                </p>
                            </div>

                            <p class="border-bottom">
                                {{ car.carDetails.subModel.bodyType }}
                            </p>
                            <p class="border-bottom">
                                {{ car.carDetails.subModel.length }}
                            </p>
                            <p class="border-bottom">
                                {{ car.carDetails.subModel.width }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                {{ app.session.set('carsList', list) }}

            </div>
            <i id="more" class="fas fa-chevron-circle-down btn d-flex justify-content-center mb-5">
            </i>
        </div>
    {% else %}
        <h2 class="d-flex justify-content-center align-items-center flex-column"
            style="height: 600px;">
            {{ 'You forgot to add cars to comparing list'|trans }}
        </h2>
    {% endif %}

    {% block javasriptsblock %}
        {{ include('like_slider_compare.html.twig') }}
        <script src="{{ asset('js/filter1.js') }}"></script>
        <script src="{{ asset('js/more.js') }}"></script>
    {% endblock %}

{% endblock %}

