
{% extends 'base.html.twig' %}

{% block title %} {{ 'User`s settings'|trans }}{% endblock %}

{% block body %}

    <div class="container row  mt-4">
        <div class="container col-5">
            {{ form_start(settingsForm, {'attr': {'class': 'form-horizontal','id': 'settingsForm'}}) }}
{#            {% if included != true %}#}

            <h5>{{ form_label(settingsForm.preferLanguage) }}</h5>
            {{ form_widget(settingsForm.preferLanguage,
                {'attr': {'class': 'form-control','required': 'true', 'autocomplete':'off'}}
            ) }}
{#            {% endif %}#}
            <br>
            <h5> {{ form_label(settingsForm.carType) }}</h5>
            {{ form_widget(settingsForm.carType,
                {'attr': {'class': 'form-control', 'required': 'true'}}
            ) }}
            <br>
             <h5>{{ form_label(settingsForm.tuning) }}</h5>
            {{ form_widget(settingsForm.tuning,
                {'attr': {'class': 'form-control', 'required': 'true'}}
            ) }}
            <br>
             <h5>{{ form_label(settingsForm.fuelConsumption) }}</h5>
            {{ form_widget(settingsForm.fuelConsumption,
                {'attr': {'class': 'form-control', 'required': 'true'}}
            ) }}
            <br>
            {{ form_end(settingsForm) }}

            <a  id="js-reset" class="btn btn-danger">
                    {{ 'Reset all settings'|trans }}

                </a>

        </div>
    </div>
    {% block javasriptsblock %}
        <script src="{{ asset('js/settings.js') }}"></script>
    {% endblock %}
{% endblock %}

