{% extends 'base.html.twig' %}
{% block title %}
    {{ 'List of models'|trans }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="container col-5 top">
            {% if models %}
                {% for model in models %}
                    <div class=" d-flex flex-column ">
                        <a class="link text-decoration-none"
                           href="{{ path('model_details', {'make':make,'model': model.id}) }}">
                            <div class="image-box">
                            {% if model.icon %}
                                <img class="img"
                                     src="{{ asset('images/models/'~model.icon) }}" alt="">
                            {% else %}
                                <img class="img"
                                     src="{{ asset('images/car_details/default.jpg') }}" alt="">
                            {% endif %}
                            </div>
                            <p class="mb-5">
                                {{ model.name }}
                                ({{ 'years'|trans }}:
                                {{ model.yearStart }}
                                {% if model.yearFinish %}
                                    - {{ model.yearFinish }})
                                {% else %}
                                    - {{ 'till now'|trans }})
                                {% endif %}
                            </p>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
