{% extends 'base.html.twig' %}

{% block title %}
    {{ 'List of makes'|trans }}
{% endblock %}

{% block body %}
<h2 class="mt-5 ml-5 text-secondary ">
    {{ 'Available makes'|trans }}
    ({{ makes|length }})
</h2>
    <div class="list container d-flex flex-wrap col ml-3 justify-content-between pr-5">
        {% if makes %}
            {% for make in makes %}
                <div class="row pl-4">
                    <a class="col-4 justify-content-between mr-4 mb-3 link"
                       href="{{ path('models_list', {'make': make.id}) }}">
                        <img class="make-icon"
                             src="{{ asset('images/makes/'~make.icon)}}" alt="">
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
