{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Your favourite cars list'|trans }}
{% endblock %}

{% block body %}
    {% if favorites %}
        <div class="container top d-flex flex-row">
    {% for favourite in favorites %}
        <div class="card mr-3 mb-3" style="width: 20rem; background-color: #343a40"  id="{{ loop.index }}">
            <a style="overflow: hidden" class="card-img-top d-text mb-5" href="{{ path('details_by_engine',
                {
                    'engine': favourite.carDetails.engine.id,
                    'make': favourite.carDetails.subModel.model.make.id,
                    'model': favourite.carDetails.subModel.model.id,
                    'subModel': favourite.carDetails.subModel.id
                }
            ) }}">

                <img src="
            {{ asset('images/car_details/'~ favourite.carDetails.subModel.images|first) }}"
                     width="320" height="300" alt="" style="display: inline-block">

                <div class="description col card-body">
                    <h4 class="card-title">
                    {{ favourite.carDetails.subModel.model.make }}
                    {{ favourite.carDetails.subModel.model }}
                    ({{ favourite.carDetails.subModel.bodyPlatform }})
                </h4>

                <p>
                    {{ favourite.carDetails.engine }}
                    ({{ favourite.carDetails.power }} HP)

                </p>
            </div >
            </a>
            <div class="card-footer align-items-center d-flex justify-content-between bd-highlight w-100 position-absolute" style="bottom: 0;">
            <a href="{{ path('comparing',{ 'id': favourite.carDetails.id }) }}"
               id="js-compare" class="text-white bd-highlight">

                {% if app.user and favourite.carDetails.isScaledByUser(app.user) %}
                    <i class="fas fa-balance-scale-right scale scale-color icon-size"></i>
                {% else %}
                    <i class="fas fa-balance-scale scale scale-color icon-size"></i>
                {% endif %}
            </a>

            <a href="{{ path('add_favourite',{'id':favourite.carDetails.id }) }}"
               id="js-favourite" data-car="{{ loop.index }}" class=" like btn-link ">
                {% if app.user and favourite.carDetails.isFavouredByUser(app.user) %}
                    <i class=" fas fa-heart heart heart-color icon-size"></i>
                {% else %}
                    <i class="far fa-heart heart heart-color icon-size"></i>
                {% endif %}
            </a>
        </div>
        </div>
    {% endfor %}
    {% else %}
        <h2 class="d-flex justify-content-center align-items-center flex-column"
            style="height: 600px;">
            {{ 'You forgot to add cars to favourite list'|trans }}
        </h2>
        </div>
    {% endif %}
    {% block javasriptsblock %}
        {{ include('like_slider_compare.html.twig') }}
    {% endblock %}

{% endblock %}
